/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color:$color__text-secondary;

  h3 {
  margin: 2vh 0 2.5vh 0;
  color:$color__text-secondary;
  font-weight: normal;
  text-transform: uppercase;

  @include media-q {
  margin: 5.4vh 0 5vh 0;
  };



  }

  p {
    font-size: 1rem;
  }

  .recentPosts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
              linear-gradient( $color__background_footer-recent, $color__background_footer-recent);
  width: 100%;
  }

.recentPosts-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $color__background_footer-recent;
  width: 100%;
  // height: 90%;
  margin: 16px 0;

  @include media-q {
    margin: 33px;
  };

  a{
    text-decoration: none;
    color: $color__text-secondary;
  }


  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-q {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    };



    li{

      width: 50vw;
      min-width: 158px;
      // height: 26vh;
      min-height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 14px;

      @include media-q {
        width: 30%;
      };
      @include media-lg {
        width: 25%;
      };

      div{
        text-align: center;

      }
      img {
        height: 14vh;
        min-height: 82px;
        width: auto;
        border-radius: 50%;
        // border: solid white 2px;



        @include media-q {
          height:26vh;
          max-height: 176px;
        };

        :hover {

        }
        }
      h4 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
      p {
      text-align: center;
      margin: 0;
      padding: 0;
      }
    }

  }
  }
}


  .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
              linear-gradient( $color__background_footer-subscribe, $color__background_footer-subscribe);
  width: 100%;
  }

  .subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $color__background_footer-subscribe;
  width: 100%;
  // height: 27vh;
  min-height: 150px;
  margin: 0 0 32px 0;
    @include media-q {
      margin: 0 0 62px 0;
    };


    form{
      width: 88vw;
      min-width:282px;
      max-width: 512px;
      height: 4vh;
      min-height:23px;
      margin-bottom: 5vh;
      display: flex;
      justify-content: center;

      @include media-q {
        width: 100%;
        height: 100%;
        max-width: none;
        margin-bottom:0;
      };

    div {
      width: 88vw;
      min-width:282px;
      height: 4vh;
      min-height:23px;
      display: flex;
      justify-content: space-between;

      @include media-q {
        width: 55vw;
        max-width: 512px;
        height: 6.6vh;
        max-height: 46px;
      };



    }
      .subscribe-input {
        width: 59vw;
        min-width: 188px;
        height: 4vh;
        min-height:23px;
        border-radius: 0;
        background-color: white;
        border: solid black 1px;


        @include media-q {
          width: 40vw;
          max-width: 376px;
          height: 6.6vh;
          max-height: 46px;
        };

        i {
          color: grey;
          z-index: 1;
          height: 100%;
          width:15%;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          @include media-q {
          font-size: 2rem;
        }
      }

        input {
          border: none;
          width: 100%;
        }
      }

      button {
        width: 27vw;
        min-width: 88px;
        height: 4vh;
        min-height: 23px;
        background-color: $color__brand-main;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        color: $color__text-secondary;
        border-radius: 0;
        border: none;
        box-shadow:none;
        padding: 0;

        @include media-q {
          width: 13vw;
          max-width: 116px;
          height: 6.6vh;
          max-height: 46px;
        };

      }
    }

    .socialMedia-links {
      display:flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 250px;

      @include media-q {
        width: 50vw;
        max-width: 400px;
        margin: 3vh 0;
      };

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      i {
        color: white;
        height: 4vh;
        font-size: 1rem;

        @include media-q {
          height: 6vh;
          font-size: 2rem;
        };
      }
      img {
      height: 4vh;

      @include media-q {
        height: 6vh;
      };
      }
    }

    .insite-links {
      width: 100%;
      max-width: 275px;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      margin: 10px 0;



      @include media-q {
        max-width: none;
        font-size: 15px;
      };

      a {
        text-decoration: none;
        text-align: center;
        color: $color__text-secondary;
      }

      span {
        margin: 0 10px 0 10px;
      }
      .hiddenBullet {
        display: none;

        @include media-q {
          display: inline;
        };
      }
    }
  }
