
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 11vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.7);
  padding: $base__space-unit;
  z-index: 10;
}

.site-header-solid {
  background: rgba(255,255,255,1);

}

.admin-bar .site-header {
  margin-top: 32px;
}

.site-branding {
  background: url(../../images/logooo.png) no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 200px;
  margin: 0 auto;

  @include media-q {

    width: 50%;

    .logo{
      height: 50px
    }

  }

  span {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.call-to-action {

  position: absolute;
  top: 11vh;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  @include media-lg {
    display: none;
  }
}
