
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  position: fixed;
  top: 0px;
  height: 11vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background: rgba(255,255,255,0.7);
  padding: $base__space-unit;
  z-index: 10;
}

.admin-bar .site-header {
  margin-top: 32px;
}

.site-branding {
  background: url(../../images/logooo.png) no-repeat center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  @include media-q {

    width: 25%;

  }
}

.call-to-action {

  position: absolute;
  top: 11vh;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  @include media-lg {
    display: none;
  }
}
