.meet-our-team-content {
  border-top: solid lightgrey 25px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    padding: $base__space-unit;

    @include media-q {
      font-size: 2rem;
      text-align: center;
    }

  }

  @include media-q {
    border-top:none none 0px;
  }

  // this page has the alternating happening in the opposite direction
  section.alternating:nth-child(odd) {
    .alt-image{
      order: 0;
    }
  }

  section.alternating:nth-child(even) {
    .alt-image {
      order: 2;
    }
  }
}

.board-of-directors {
  background: $color__brand-board-of-directors;

  a h3 {
    color: white;
  }
}

.advisory-board {
  background: $color__brand-advisory-board;
  a h3 {
    color: $color__brand-dark;
  }
}

.our-partners{
  background: $color__brand-our-partners;
  a h3 {
    color: $color__brand-dark;
  }
}

.our-staff {
  background: $color__brand-our-staff;
  a h3 {
    color: white;
  }
}

.womens-income-generating-group {
  background: $color__brand-wigg;
  a h3 {
    color: white;
  }
}
