.meet-our-team-content {
  border-top: solid lightgrey 25px;
  display: flex;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
  }

  @include media-q {
    border-top:none none 0px;
  }


}

.board-of-directors {
  background: $color__brand-board-of-directors;

  a {
    color: white;
  }
}

.advisory-board {
  background: $color__brand-advisory-board;
  a {
    color: $color__brand-dark;
  }
}

.our-partners{
  background: $color__brand-our-partners;
  a {
    color: $color__brand-dark;
  }
}

.our-staff {
  background: $color__brand-our-staff;
  a {
    color: white;
  }
}

.womens-income-generating-group {
  background: $color__brand-wigg;
  a {
    color: white;
  }
}
//   .board_of_directors {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     background: linear-gradient( $color, rgba(255, 255, 255, 0.7)),
//                 linear-gradient( $color__brand-board-of-directors, $color__brand-board-of-directors);
//
//     .board_of_directors-content{
//       width: 100%;
//       height: 100%;
//       background: $color__brand-board-of-directors;
//       display:flex;
//       justify-content: space-between;
//
//       a{
//         width: 100%;
//         display: flex;
//         flex-direction: row-reverse;
//         justify-content: center;
//         align-items: center;
//       }
//
//       .section-content {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//
//         h3 {
//           color: $color__text-secondary;
//         }
//       }
//
//       .thumbnail {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//         position: relative;
//
//         img {
//           width: 100%;
//           position: absolute;
//           max-width: none;
//           height: 100%;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//       }
//     }
//   }
//   .advisory_board {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
//                 linear-gradient( $color__brand-advisory-board, $color__brand-advisory-board);
//
//     .advisory_board-content{
//       width: 100%;
//       height: 100%;
//       background: $color__brand-advisory-board;
//       display:flex;
//       justify-content: space-between;
//
//       a{
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//
//       .section-content {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//
//         h3 {
//           color: $color__text-tertiary;
//         }
//       }
//
//       .thumbnail {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//
//         img {
//           height:auto;
//           width: 100%;
//
//         }
//       }
//     }
//   }
//   .our_staff {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
//                 linear-gradient( $color__brand-our-staff, $color__brand-our-staff);
//
//     .our_staff-content{
//       width: 100%;
//       height: 100%;
//       background: $color__brand-our-staff;
//       display:flex;
//       justify-content: space-between;
//
//       a{
//         width: 100%;
//         display: flex;
//         flex-direction: row-reverse;
//         justify-content: center;
//         align-items: center;
//       }
//
//       .section-content {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//
//         h3 {
//           color: $color__text-secondary;
//         }
//       }
//
//       .thumbnail {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//
//         img {
//           height:auto;
//           width: 100%;
//
//         }
//       }
//     }
//   }
//   .our_partners {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
//                 linear-gradient( $color__brand-our-partners, $color__brand-our-partners);
//
//     .our_partners-content{
//       width: 100%;
//       height: 100%;
//       background: $color__brand-our-partners;
//       display:flex;
//       justify-content: space-between;
//
//       a{
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//
//       .section-content {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//
//         h3 {
//           color: $color__text-tertiary;
//         }
//       }
//
//       .thumbnail {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//
//         img {
//           height:auto;
//           width: 100%;
//
//         }
//       }
//     }
//   }
//   .wigg {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
//                 linear-gradient( $color__brand-wigg, $color__brand-wigg);
//
//     .wigg-content{
//       width: 100%;
//       height: 100%;
//       background: $color__brand-wigg;
//       display:flex;
//       justify-content: space-between;
//
//       a{
//         width: 100%;
//         display: flex;
//         flex-direction: row-reverse;
//         justify-content: center;
//         align-items: center;
//       }
//
//       .section-content {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//
//         h3 {
//           max-width: 75%;
//           text-align: center;
//             color: $color__text-secondary;
//         }
//       }
//
//       .thumbnail {
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//         position: relative;
//
//         img {
//           width: 100%;
//           position: absolute;
//           max-width: none;
//           height: 100%;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//         }
//       }
//     }
//   }
// }
