/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;


		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			left: -999em;
			z-index: 99999;
			display: flex;
			flex-direction: column;
			width: auto;
			background: rgba(255,255,255,0.7);
			border: 1px solid black;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {

		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: #000;

		&:hover {
			color: $color__brand-main;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__brand-main;
	}
}

.main-navigation > div > ul > li > a{
		line-height: 10vh;
	}

.main-navigation > div > ul > li li {
	border-bottom: 1px solid #E3E3E3;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	position: absolute;
	top: 11vh;
	right: 0;
	background: white;
	width: 30vh;
	border: 1px solid black;
	padding: $base__space-unit;
	padding-left: 0.5rem;
	text-align: right;

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		border: 1px solid $color__brand-main;
	}
}
.main-navigation.toggled ul > li > a {
	line-height: 2rem;
	padding: 0.5rem;

	&:after {
		padding-left: 0.5rem;
		content: '>';
	}
}



.main-navigation.toggled ul > li > ul {
	display: none; // don't display submenus on hover
}

.menu-toggle {
	height: 100%;
	width: 10%;
	position: absolute;
	top: 0;
	right: 10px;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	transform: rotate(-90deg);
	color: $color__brand-dark;
	font-size: 2rem;
	padding: 0;
	font-family: serif;
	margin: 0;

	&:hover{
		box-shadow: none;
		border: none;
	}
}

@media screen and (min-width: 1050px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		width: 70%;
		padding-top: 0.5rem;
	}
	.main-navigation ul {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* UI Button */

a.button {
	text-transform: uppercase;
	border: 1px solid $color__brand-main;
	padding: 0.5rem $base__space-unit;
	color: $color__brand-main;
	text-decoration: none;
}

a.cta {
	@extend .button;
	background: $color__brand-main;
	color: #fff;
}
