/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;

	font-size: 14px;

	@include media-q {
		font-size: 16px;
	}

	@include media-lg {
		font-size: 18px;
	}
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

.content-area li {
	margin-bottom: $base__space-unit;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}

// For pages that have large round-bordered numbers, use the class big-number on the ol element

ol.big-numbers {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	list-style-type: none;
	width: 75%;

}

.big-numbers li {
	counter-increment: step-counter;
	padding-left: 8rem;
	position: relative;
	margin-bottom: 4rem;
	font-size: 1.2rem;

}

.big-numbers li::before {
	content: counter(step-counter);
	display: inline-block;
	text-align: center;
	color: $color__brand-main;
	border: 2px solid $color__brand-main;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	border-radius: 50%;
	margin-right: $base__space-unit;
	position: absolute;
	left: 0;
	font-size: 4rem;

}
