// Structure

$base__space-unit: 1.5em;

// Colors

$color__brand-main: #D22785;
$color__brand-dark: #892655;
$color__subscribe-button: #892655;

// Front page
$color__brand-who-we-are: white;
$color__brand-why-uganda: #C0C99A;
$color__brand-our-projects: white;
$color__brand-get-involved: #DFC44F;
$color__brand-who-donate: white;

// Meet our team
$color__brand-board-of-directors: #C0C99A;
$color__brand-advisory-board: white;
$color__brand-our-staff: #DFC44F;
$color__brand-our-partners: white;
$color__brand-wigg: #a37bb8;

$color__background-body: #fff;
$color__text-main: black;
$color__text-secondary: white;
$color__text-tertiary: $color__brand-main;


$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background_footer-recent: #EEA28E;
$color__background_footer-subscribe: #79123D;


$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__brand-main;
$color__link-visited: $color__brand-main;
$color__link-hover: $color__brand-main;

// Typography

$font__main: 'Helvetica Neue', 'Myriad Pro', 'Arial', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
