.blog-header {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(../../images/blog-header.png) no-repeat center center;
  background-size: cover;
  filter: grayscale(1);

  h2 {
    margin-top: 0;
    color: white;
    text-transform: uppercase;
  }

  .text {
    color: white;
    padding-top: 10rem;
    padding-left: 10rem;
    width: 60%;
    @include media-lg {
      width: 45%;
    }

  }
}

.circle-image{
  border-radius: 50%;
  overflow: hidden;
  width: 35vh;
  height: 35vh;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;

  img{
    display: block;
    min-width: 100%;
    min-height: 100%;
   max-width: none;
   transform: translate(-12%, 0%);
  }
}

.staff-circle img {
  border-radius: 50%;
}

.blog p {

  padding-bottom: 50px;
}

// Alternating image position
.blog, .single-post {
color: black;
// padding-top: 100px;

 article:nth-child(odd) .circle-image{
   float:left;
 }

   article:nth-child(even) .circle-image{
     float:right;
   }
}

.blog-post-title{
  font-weight: bold;
  padding-right: 80px;


}

.blog-post-container{
  font-size: 1.28rem;
  text-align: right;
	@include media-lg {
		font-size: 1.55rem;
	}
}

.newsletter-tag p{
 color: #892655;
 text-align: center;
 font-weight: bold;
 font-size: 38px;
}
