/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.bam-statement{
  color: #fff;
  background-color: #d22785;
  text-align: center;
  padding: $base__space-unit 0;
  width: 100%;

  h2 {
    text-transform: uppercase;
  }
}

.home .entry-content, .home .hentry {
  margin: 0;
}


.homepage.who-we-are, .homepage.donate-now {
  position: relative;
  height: 20vh;
  overflow: hidden;


    @include media-q {
      height: 30vh;
    }

    @include media-lg {
      height: 40vh;
    }
  img {
    position: absolute;
    top: -100%;
    width: 100%;
  }

  .wrapper {
    position: absolute;
    background: rgba(255,255,255,0.5);
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100%;
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

.homepage.why-uganda, .homepage.our-projects, .homepage.get-involved {
  width: 30%;
  margin: 1.5%;
  float: left;
  height: 20vh;
  position: relative;
  @include media-q {
    height: 30vh;
  }

  @include media-lg {
    height: 40vh;
  }

  img {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .wrapper {
    position: absolute;
    display: block;
    background: rgba(255,255,255,0.5);
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100%;
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }
}

.homepage.donate-now {
  clear: both;
}

.home .entry-header::after {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  content: '';
}

.infographic {
  background: #f2f2f2;
  position: relative;

  h3 {
    text-align: center;
    color: $color__brand-dark;
    margin-top: 0;
    text-transform: uppercase;
  }


  ul {
    display: flex;
    margin: 0;
    padding: $base__space-unit 0.2rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media-q {

      padding: $base__space-unit;
    }
  }

  li {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-lg {
      width: 20%;
      max-height: 300px;
      margin-top: 1.5rem
    }

    img {

      width: auto;

      @include media-q {
        min-height: 0;
        height: 80%;
      }
    }
  }

}

.homepage h3 {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: $color__brand-dark;
  margin: 0;
}
