/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/


.home .entry-header::after {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  content: '';
}

.infographic {
  background: rgba(255,255,255,0.7);
  position: relative;
  background-color: #f2f2f2;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include media-q {
      background: #E3E3E3;
    }
  }

  li {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-q {
      width: 20%;
      max-height: 300px;
      margin-top: 1.5rem
    }

    img {

      width: auto;

      @include media-q {
        min-height: 0;
        height: 80%;
      }
    }
  }

}

h3 {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: $color__brand-dark;
  margin: 0;
}

.front-page-content {
  border-top: solid lightgrey 25px;


}


.alternating.who-we-are {
  background: $color__brand-who-we-are;

  h3 {
    color: $color__text-tertiary;
  }
}

.alternating.why-uganda {
  background: $color__brand-why-uganda;

  h3 {
    color: $color__text-secondary;
  }
}

.alternating.our-projects {
  background: $color__brand-our-projects;

  h3 {
    color: $color__text-tertiary;
  }
}

.alternating.get-involved {
  background: $color__brand-get-involved;

  h3 {
    color: $color__text-secondary;
  }
}

.alternating.donate-now {
  background: $color__brand-who-donate;

  h3 {
    color: $color__text-tertiary;
  }
}
