/*--------------------------------------------------------------
# Our Story custom template
--------------------------------------------------------------*/


.pink-header {
  position: absolute;
  background: $color__brand-main;
  color: white;
  bottom: 0;
  width: 100%;
  padding: $base__space-unit;
  text-align: center;

  @include media-q {
    text-align: left;
  }

  @include media-q {
    width: 45%;
    right: 5%;
    bottom: 40%;
  }

  h2 {
    margin-top: 0.3rem;
    color: white;
    text-transform: uppercase;

  }
}

.story-content {
  text-align: center;
  width: 80%;
  margin: $base__space-unit auto;
  border-bottom: 1px solid $color__background-hr;

  h2 {
    text-transform: uppercase;
    padding-top: $base__space-unit;
  }

  p {
    opacity: 0.6;
  }
}

ul.values  {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.values li {
  width: 80%;
  text-align: center;
  margin: $base__space-unit;

  @include media-q {
    width: 39%;
  }

  @include media-lg {
    width: 26%;
  }

  img {
    width: auto;
    height: 8rem;
  }

  &:last-child img { // the unity icon is a very different shape
    height: 6rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color__brand-dark;
  }

  p {
    margin-top: 0.2rem;

  }
}

.history-header {
  margin-top: 5rem;
  height: 30vh;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  h3 {
    color: white;
    position: absolute;
    line-height: 20vh;
    margin-top: 0;
    margin-bottom: 0;
    right: 15%;
    text-transform: uppercase;
  }
}
