.story-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid $color__background-hr;
}

ul.values  {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.values li {
  width: 80%;
  height: 55vh;
  text-align: center;

  img {
    max-height: 50%;
    width: auto;
  }
}
