/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Pages that have a full-size header image */

.home .entry-header, .page .entry-header, .single-events .entry-header{

  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;

}

/* Pages that don't have a full-size header image */

.single-gifts_of_action, .error404, .search-results, .single-post, .single-team_member {
  .site-content {
    margin-top: 20vh;

    @include media-lg {
      margin-top: 13vh;
    }

  }
}

/* Color-blocked header that sits under full-screen image header on most pages*/
.sub-header {
  text-align: center;
  padding: 3rem 2rem;

  h2, h3 {
    margin-top: 0;
    color: black;
    text-transform: uppercase;
  }
}

h2.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;

  @include media-lg {
    font-size: 1.8rem;
  }
}

/* Styling of the alternating images and texts - reusable */

section.alternating{
  display: flex;
  flex-direction: row;
  height: 20vh;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  @include media-q {
    height: 30vh;
  }

  @include media-lg {
    height: 40vh;
  }

  .alt-image {
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      max-width: none;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .alt-info {
    width: 40%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-q {
      padding-left: $base__space-unit;
    }
  }

  h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;


    @include media-lg {
      font-size: 1.35rem;
    }
  }

  h4 {
    font-weight: bold;
  }

  .alt-text {
    display: none;


    @include media-lg {
      display: block;
    }
  }

  p {
      font-size: 1.1rem;
  }
}

/* Alternating positioning of the photos */

section.alternating:nth-child(odd) {
  .alt-image {
    order: 2;
  }
}

/* 50% width */

.alternating.equal {
  .alt-image {
    width: 50%;
  }
  .alt-info {
    width: 50%;
  }
}


/* Team Member Taxonomy Archive Pages */

.role-header {
  text-align: center;
  background: $color__brand-why-uganda;
  padding: 2rem;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.staff-member {
  text-align: center;

  @include media-lg {
    width: 40%;
  }

  img {
    border-radius: 50%;
  }

  a {
    color: $color__brand-dark;
  }

  h4 {
    margin: 0;
    line-height: normal;
  }

  p {
    margin-top: 0;
  }
}
