
.child-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3rem;
  margin-top: 3rem;
  height: 30vh;
  @include media-q {
    height: 60vh;
  }
  &:nth-child(2) {
    .child-page-text {
      order: 2;
    }
  }

  &:last-child {
    .child-page-image {
      height: 100px;
    @include media-q {
      height: 60vh;
    }
    }
  }
}

.child-page-text {
  width: 32%;

  .excerpt{
    display: none;
    @include media-q {
      display: block;
    }
  }
}

.child-page-image {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: right;
  @include media-lg {
     width: 60%;
  }
  img {
    position: absolute;
    width: 300px;
    max-width: none;
    height: auto;
    overflow: hidden;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  @include media-lg {
    width: 100%;
    height: 80%;
    left: 50%;
  }
  }
}
.our-story-headers h3 {
    display: block;
    text-transform: uppercase;
    @include media-q {
      font-size: 2.1rem;
    }
}

.discover-story {
  font-size: 2rem;
}

.discover-button{
  color:#D22785;
  text-transform: uppercase;
  border: 2px solid #D22785;
  font-size:1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: .5rem;
  display: block;
}
