.child-pages {
  width: 100%;
}
.child-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-top: 50px;
  height: 60vh;
  &:nth-child(2) {
    .child-page-text {
      order: 2;
    }
  }
  p {
    font-size: 22px;
  }
}

.child-page-text {
  display: none;
  width: 32%;
  @include media-q {
    display: block;
  }
}

.child-page-image {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 60%;
  overflow: hidden;
  text-align: right;
  img {
    position: absolute;
    width: auto;
    max-width: none;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.our-story-headers h3 {
    font-size: 35px;
    text-transform: uppercase;
}

.discover-story {
  font-size: 22px;
}

.discover-button{
  color:#D22785;
  text-transform: uppercase;
  border: 2px solid #D22785;
  width: 300px;
  height: 50px;
  font-size:22px;
  font-weight: bold;
  text-align: center;
  p {
    margin-top: 8px;
  }
}
