/*--------------------------------------------------------------
# Search results
--------------------------------------------------------------*/


.search{

  .site-main{
    margin-top: 4rem;
  }
  
  .entry-title {
    font-size: 2rem;
  }

  p {
    padding-top: 20px;
    font-size: 1rem;
  }

  .entry-header{
    height: 50px;
  }
}
