/* Why Uganda Infographic */

.why-uganda.infographic {
  margin-top: 0;

  ul {
    background: white;
  }
  li {

    width: 60%;
    max-height: none;
    padding: $base__space-unit;

    &:nth-child(odd) {
      margin-left: auto;
    }

    &:nth-child(even) {
      margin-right: auto;
    }

    @include media-q {
      width: 40%;
    }
  }

  img {
    max-height: none;
    height: 100%;
    width: auto;
  }
}

.why-uganda.text {
  padding-left: 20%;
  padding-right: 20%;
  opacity: 0.6;
}

.why-uganda-footer {
  background: url('../../images/postpartum-health.png') no-repeat center center;
  background-size: contain;
  height: 30vh;


  @include media-lg {
    background-size: cover;
    width: 100%;
  }
}
